# Unity-specific
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Visual Studio / MonoDevelop
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS-specific files
.DS_Store
Thumbs.db

/Assets/StreamingAssets/
Assets/StreamingAssets.meta
